* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222;
	line-height: 1.3;
}
section {
	padding:4em 0;
}
header {
	padding: 10px;
		font-size: 30px;
}

nav	{
	font-size: 16px;
	text-align: right; /* usually you'll use a float for this - unit 6*/
}


a {
	margin-right: 10px;
	text-decoration: none;
	color: inherit;
	border-bottom: 1.5px solid;
}
ul,ol {padding-left: 1.25em;}

footer {
	font-size: 12px;
	padding: 20px;
	text-align: center;
}
#hero {
	background:url(../images/Penny.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	color: #fff;
	height: 90vh;
	/* padding: 10em; */
	/* text-align: right; */
	/* font-size: 2em; */
}
